body {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
  --primary-color: #4A90E2;
  --secondary-color: #D0E4FF;
  --background-color: #F9FAFB;
  --surface-color: #FFFFFF;

  --text-color: #1A1A1A;
  --text-secondary-color: #6E6E73;

  --border-color: #E5E7EB;
  --highlight-color: #2563EB;

  --success-color: #10B981;
  --warning-color: #FBBF24;
  --error-color: #EF4444;

  --menubar-bg: #FFFFFF;
  --menubar-text: #1A1A1A;
  --primary-text-color: #FFFFFF;
}

.dark-theme {
  --primary-color: #4A90E2;
  --secondary-color: #2A3950;
  --background-color: #0F172A;
  --surface-color: #1E293B;

  --text-color: #F1F5F9;
  --text-secondary-color: #94A3B8;

  --border-color: #334155;
  --highlight-color: #60A5FA;

  --success-color: #34D399;
  --warning-color: #FACC15;
  --error-color: #F87171;

  --menubar-bg: #1E293B;
  --menubar-text: #F1F5F9;
  --primary-text-color: #FFFFFF;
}